server {
    listen 80;
    server_name zmoumen.42.fr;
    return 301 https://$host$request_uri;
}

server 
{
    listen 443 ssl;
    server_name zmoumen.42.fr;
    root /var/www/wordpress;
    index index.php;
    certificate /run/secrets/ssl/inception.crt;
    certificate_key /run/secrets/ssl/inception.crt-key;
    ssl_protocols TLSv1.2 TLSv1.3;


    location /wp-content {
        alias /var/www/wordpress/wp-content;
        
    }

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_pass wordpress:9000;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
}
